* {
  padding: 0;
  margin: 0;
}
#divP {
  display: flex;
  width: 100%;
  height: 100%;
}
#subMain {
  display: flex;
  width: 100%;
}
#divnav {
  display: flex;
  background-color: #0f292f;
  width: 100wh;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
#divS {
  border-bottom: black solid 1px;
  margin-bottom: 23px;
}
#divElCl {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin-left: 325px;
  margin-right: 300px;
  margin-bottom: 25px;
}
#divCart {
  position:fixed;
  margin-top: 100px;
  margin-left: 37vw;
  width: 500px;
  height: 500px;
  background: rgba(165, 33, 33, 0.7);
  top: 0px;
  left: 0px;
}
#divElec,
#divClo,
#divDe,
#divSho {
  margin-right: 30px;
}
#divmain {
  display: flex;
  width: 100%;
}
#divpro {
  margin-top: 70px;
}
#header {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
}
.productBox {
  display: flex;
  flex-wrap: wrap;
}
.productBox > * {
  flex: 1 1 250px;
}
.secHead {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}
.image {
  width: 150px;
  height: 150px;
}
.image_1 {
  width: 80px;
  height: 80px;
}
.image_2 {
  width: 200px;
  height: 200px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(61, 52, 52, 0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.cur:hover {
  cursor: pointer;
}
.btn {
  width: 100px;
  height: 30px;
  background-color: green;
  color: white;
}
#search {
  width: 190px;
  height: 33px;
}
.hMain {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.table {
  width: 100%;
}
td {
  padding-top: 15px;
  padding-bottom: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
#cart {
  color: white;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

/*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg>*/

/*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
</svg>*/
