* {
  padding: 0;
  margin: 0;
}
#divP{
  display:flex;
}
#divnav {
  display: flex;
  background-color:#0F292F;
  width: 100wh;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
#divS{
    display: flex;
    border-bottom: black solid 1px;
    margin-bottom: 23px;
}
#divElCl {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin-left: 325px;
  margin-right: 300px;
  margin-bottom: 25px;
}
#divElec,
#divClo,
#divDe,
#divSho {
  margin-right: 30px;
}
#divmain {
  display: flex;
}
#subMain{
  
}
#header {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
}
.productBox {
  display: flex;
  flex-wrap: wrap;
}
.productBox > * {
  flex: 1 1 250px;
}
.secHead {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}
.image {
  width: 150px;
  height: 150px;
}
.image_2 {
  width: 200px;
  height: 200px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(61, 52, 52, 0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#searchicon{
    color: black;
    width: 33px;
    height: 20px;
}
#search{
    width: 190px;
    height: 33px;
    margin-right: 10px;
}
#hMain{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

td{
  padding-top: 15px;
  padding-left: 150px;
  padding-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center; 
}

