* {
  padding: 0;
  margin: 0;
}
#divP {
  display: flex;
  width: 100%;
  height: 100%;
}
#subMain {
  display: flex;
  width: 100%;
}
#divT {
  display: flex;
  text-align: center;
  padding-right: 10px;
}
#divnav {
  display: flex;
  justify-content: space-around;
  background-color: #0f292f;
  width: 100wh;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
#divS {
  border-bottom: black solid 1px;
  margin-bottom: 23px;
}
#divElCl {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin-left: 325px;
  margin-right: 300px;
  margin-bottom: 25px;
}
#divCart {
  position: fixed;
  margin-top: 100px;
  margin-left: 37vw;
  width: 500px;
  height: 500px;
  background:#c07409;
  top: 0px;
  left: 0px;
  color: white;
}
#divElec,
#divClo,
#divDe,
#divSho {
  margin-right: 30px;
}
#divmain {
  display: flex;
  width: 100%;
}
#divpro {
  margin-top: 70px;
}
#header {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
}
#exit{
color: red;
}
.productBox {
  display: flex;
  flex-wrap: wrap;
}
.productBox > * {
  flex: 1 1 250px;
}
.secHead {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}
.image {
  width: 150px;
  height: 150px;
}
.image_1 {
  width: 80px;
  height: 80px;
}
.image_2 {
  width: 200px;
  height: 200px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(61, 52, 52, 0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.cur:hover {
  cursor: pointer;
}
.btn {
  width: 100px;
  height: 30px;
  background-color: green;
  color: white;
}
#search {
  width: 190px;
  height: 33px;
}
.hMain {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.table {
  width: 100%;
  text-align: center;
}
td {
  padding-top: 15px;
  padding-bottom: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
#cart {
  color: white;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  left: 50%;
}
#hTotal{
  color: white;
  padding: 15px;
}
li {
  float: right;
  padding-right: 10px;
}
ul {
  list-style-type: none;
}
li a {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
a:hover {
  color: yellow;
}
