* {
  padding: 0;
  margin: 0;
}
#divnav {
  display: flex;
  background-color: rgb(61, 26, 117);
  width: 100wh;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#divElCl {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 40vh;
}
#divElec,
#divClo,
#divDe,
#divSho {
  margin-right: 30px;
}
#divmain {
  display: flex;
}
#header {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
}
#search {
}
.productBox {
  display: flex;
  flex-wrap: wrap;
}
.productBox > * {
  flex: 1 1 250px;
}
.secHead {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}
.image {
  width: 150px;
  height: 150px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(61, 52, 52, 0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
